*.pyc
.coverage
.installed.cfg
.mr.developer.cfg
bin
develop-eggs/
dist/
distribute-*.tar.gz
docs/Makefile
docs/doctrees/
docs/html/
docs/make.bat
eggs/
htmlcov/
include
lib
local/
parts/
src/spinrewriter.egg-info/
src/vvv/
